/*Make changes to the Bootsrap Card Component*/

.card-body {
    padding: 3px;
}

.card {
    width: 25rem;
    margin: auto;
}

.status {
    text-align: center;
    margin-bottom: 178px;
    margin-top: 178px;
    font-size: 25px;
}