/*Make changes to the Bootsrap Card Component*/

.card-body {
    padding: 3px;
}

.card {
    width: 25rem;
    margin: auto;
    height: 520px;
}

.status {
    text-align: center;
    font-size: 25px;
    float: right;
}

.title {
    text-align: center;
}

.description {
    text-align: center;
    height: 237px;
}

.buttons {
    position: absolute;
    bottom: 0;
    left: 0;
}